<?xml version="1.0" encoding="utf-8"?>
<!--
    AndroidManifest.xml - Prolific

    Language:        Java
    Platform:        Android SDK
    Author:          Rupan Talwar, Email:rupantalwar@gmail.com, Phone: 315 751-2860
    Created On:      1/23/2015
-->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rupantalwar.myonepageapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.rupantalwar.myonepageapp.OnePage"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
